/* web app code */

/* add some basic styles */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: black;
  color: white;
}

input {
  width: 300px;
}

button {
  margin-left: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
#parent-size{
  margin-left:.5em;
  margin-right:.5em;
}
/* 
#path-input{
  width: 60%;
} */

#path-input {
  flex-grow: 1;
}
nav {
  display: flex;
  align-items: center; /* vertically align the items */
}
